{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
        <head>
            <meta charset ="UTF-8">
            <title> Ling Cars </title>
            <link rel="stylesheet" href="CSS/home.css">
        </head>

        <!--Start of body -->
        <body>

            <!--Header 1-->
            <div id ="header1">
                <a href="home.html" target="_blank"><img class = "img" src="images/logo/weblogo/Web_logo.PNG" height = "150" width="300"></img></a>

                <!--Table for contact info-->
                   <table>
                       <tr>
                           <th><img class = "img1" src="images/logo/social/phone.png" height="60" width="60"></th>
                           <th><h2> 0191 460 9444 </h2></th>

                           <th><img class = "img1" src="images/logo/social/email.png" height="55" width="55"></th>
                           <th><h2> sales@lingscars.com </h2></th>
                       </tr>
                   </table><!--End of table contact info-->
            </div><!--End header 1-->


                   <!--Start of the navigation-->
                   <div id = "navbar">
                    <tr>
                        <li><a class="active" href="home.html">{% trans Home %}</a></li>
                        <li><a href="vehicle.html">Vehicles</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="about.html">About</a></li>
                      </tr>

                    </div>
                   <!--End nav bar-->

                   <!--This is where the form is going to be -->
                   <div id ="mainform">
                    <form action="scripts/booking.php">
                      

                    <div id ="form">
                       
                        <h3> Lease a car with us !</h3>
 
                        <p>Ling Cars leasing wants to make sure you have a smooth and comfortable drive 
                         aswell as being confident with your chosen vehicle. We wnat to make sure you drive confidently and comfortably
                         while making memories and learning new experiences. 
                         Please fill in the form below and help us give you new memories and experiences !</p>
 
                         <!--Table for the form -->
                         <div id = "tableform">

                            <form action ="file.php" method="post">
 
                             <!--Table 1-->
                             <table>
                                 <tr>
                                     <th><label for = "fname"> First Name</label><br>
                                     <input class="generalinput" type="text" name="First name"size = "35" height="25" placeholder="John"/></th>
 
                                     <th><label for = "lastname"> Last Name </label><br>
                                     <input class = "generalInput" type="text" name ="Last name" size = "35" height="25" placeholder="Doe"/></th>
                                 </tr>
                             </table>
                             
                             <!--Table 2-->
                             <table>
                                 <tr>
                                     <th><label for = "email"> E-mail</label><br>
                                     <input class="generalinput" type="text" name="email"size = "35" height="25" placeholder="JohnD@example.com"/></th>
 
                                     <th><label for = "phoneno."> Phone Number </label><br>
                                     <input class = "generalInput" type="text" name ="phonenum" size = "35" height="25" placeholder="+353 000 12345"/></th>
                                 </tr>
                             </table>
 
                             <!--Table 3-->
                             <table>
 
                                 <th><label for = "PhoneNo"> Please specify the car  </label><br>
                                     <input class = "generalInput" type="text" name ="specs" size = "35" height="25" placeholder="Eg: Hatchback, black, 2020"/></th>
                                 
                                     <th><label for ="location"> Location </label><br>
 
                                         <select class = "generalInput" id ="location">
 
                                             <!--location options-->
                                             <option value="county"> Choose Location </option>
                                             <option value ="county"> Cork </option>
                                             <option value ="county"> Donegal </option>
                                             <option value ="county"> Dublin </option>
                                             <option value ="county"> Galway </option>
                                             <option value ="county"> Kildare </option>
                                             <option value ="county"> Kilkenny </option>
                                             <option value ="county"> Waterford</option>
 
                                         </select>
                                     </th>
                               </table>
                            


                               <!--div for the amount of days person would be leasing-->
                               <div id ="leasingdays">
                                <table>
                                    <tr>
                                        <th><label for = "days"> Start Date: </label><br>
                                        <input type="date" id ="start" name ="leasingdays" value="01-04-2021"></th>
    
                                        <th><label for = "days"> End Date: </label><br>
                                            <input type="date" id ="start" name ="leasingdays" value="01-04-2021" min ="01-04-2021" max ="01-04-2024"></th>
                                    </tr>
                                </table>
                         </div><!--End of leasing day table-->

                         <!--comment box-->
                         <div id= "commentbox">
                             <label>Any requirements eg car seat </label>
                            <textarea name="desc" rows="10" cols="40" placeholder="Eg">
                            </textarea>
                         </div><!--End of commentbox-->


                         <!--submit bttn-->
                         <div id ="submitbttn">
                            
                            <input type="submit" name ="submit" value ="Submit"/>
      
                          </div><!--submit bttn-->

                          </div>
                </div><!--End of the form div-->
            </form>
            </div><!--End of mainform div-->
        

        
            <!--start of the footer-->
            <div id ="footer">

                <div class = "social-media">
                    <a href="https://www.facebook.com/lingscars/ " target="_blank"><img src="images/logo/social/facebook.png" alt="facebook" class="facebook" height="30" width="30"></a>
                    <a href=" https://twitter.com/lingscars?lang=en " target="_blank"><img src="images/logo/social/twitter.png" alt="twitter" class="twitter"height="30" width="30"></a>
                    <a href=" https://www.youtube.com/channel/UCi6TAJ3dKlkE5PgN62LJpDw " target="_blank"><img src="images/logo/social/youtube.png" alt="youtube" class="youtube"height="30" width="30"></a>
                </div>

                    <footer>
                        &copy; Website by Mary Anne Flores | C20461582 | SDEV 
                    </footer> 

                <!-- Look for table references ! w3schools -->

            </div><!--End of the footer-->

        
        </body>
</html>
